<section class="footer-top-section">
    <div class="container">
        <div class="row justify-content-center">

            <!-- Contact -->
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Contact</h4>
                </div>
                <div class="ft-contact-widget">
                    <p><span>E:</span> admin@ostm.co.uk</p>
                    <img src="/assets/img/OSTMSharpLogoWhite.png" class="footer-logo" alt="">
                </div>
            </div>

            <!-- Links -->
            <div class="col-lg-3 col-md-6 ft-widget">
                <div class="ft-title">
                    <h4>Links</h4>
                </div>
                <ul class="footer-links">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#" onClick="MyWindow=window.open('/live/','MyWindow','width=385,height=700'); return false;">Live</a></li>
                    <!--<li><a target="_blank" href="https://blog.ostm.co.uk/">Blog</a></li>-->
                    <li><a href="/replays/">Replays</a></li>
                    <li><a href="/playlist/">Playlist</a></li>
                    <!--<li><a href="shows.html">Shows</a></li>-->
                    <!--<li><a href="/app/">App</a></li>-->
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/advertise/">Advertise With Us</a></li>
                    <!--<li><a href="/volunteer/">Volunteer For Us</a></li>-->
                    <li><a href="/publish/">Publish Your Music</a></li>
                </ul>
            </div>
            
            

        </div>
    </div>
</section>

<footer class="footer-section">
    <div class="container">
        <p>
            Copyright <span id="year"></span> &copy; All rights reserved | OSTM LTD
        </p>
    </div>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>