<header class="header-section">
    <div class="header-warp">

        <!-- Site Logo -->
        <a href="/" class="site-logo">
            <img src="/assets/img/OSTMSharpLogoWhite.png" width="118" alt="OSTM Radio Logo">
        </a>

        <!-- responsive -->
        <div class="nav-switch">
            <i class="fa fa-bars"></i>
        </div>

        <!-- Main Menu -->
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="#" onClick="MyWindow=window.open('/live/','MyWindow','width=385,height=700'); return false;">Live</a></li>
            <!--<li><a href="/blog/">Blog</a></li>-->
            <li><a href="/replays/">Replays</a></li>
            <li><a href="/playlist/">Playlist</a></li>
            <!--<li><a href="/shows/">Shows</a></li>-->
            <!--<li><a href="/app/">App</a></li>-->
            <li><a href="/advertise/">Advertise</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>

        <!-- Social Links -->
        <div class="header-social-links">
            <a target="_blank" href="https://x.com/OstmRadio"><i class="fa-brands fa-x-twitter"></i></a>
            <a target="_blank" href="https://www.youtube.com/@ostmradio"><i class="fa-brands fa-youtube"></i></a>
            <a target="_blank" href="https://www.instagram.com/ostmradio/"><i class="fa-brands fa-instagram"></i></a>
            <a href="mailto:admin@ostm.co.uk"><i class="fa fa-envelope"></i></a>
        </div>

    </div>
</header>